
3assignment/testDictionary.txt
3assignment/crackstation.txt
3assignment/crackstation-human-only.txt
3assignment/digits1-99999999.txt
3assignment/darkweb2017-top10000.txt
3assignment/probable-v2-top12000.txt
3assignment/probable-top12000.txt
3assignment/.DS_Store
3assignment/.DS_Store
4assignment/pcap/lbl-internal.20041004-1305.port002.dump.pcap
